{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}


<h3>Editar Categoria: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control">
            <label for="slug">Slug</label>
            <input type="text" id="slug" name="slug" placeholder="Slug da categora" class="form-control">
            <button type="submit" class="btn btn-success mt-4">Editar categoria</button>
        </form>
    </div>
</div>
<a href="/admin/categorias"><button class="btn btn-success mt-4" style="background-color: gray;">Voltar</button></a>